body{
    text-align: center;
    background-image: url('/Screenshot\ 2025-05-26\ 211149.png');
    padding: 0;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.formdiv{
    position: absolute;
    left: 40%;
    top: 90%;
}

.editForm{
    background-color: white;
    height: 330px;
    width: 350px;
    border-radius: 5px;
    text-align: center;
    padding: 0px 15px;
    margin-top: -310px;
}

.x{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnx{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.btnx:hover{
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.Name{
    color: white;
    width: 170px;
    height: 30px;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}

.Editname{
    color: black;
    width: 300px;
    height: 30px;
    font-size: 15px;
    background: none;
    border: 2px solid black;
    margin-top: 20px;
}

.Lastname{
    color: white;
    width: 170px;
    height: 30px;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}

.Editlastname{
    color: black;
    width: 300px;
    height: 30px;
    font-size: 15px;
    background: none;
    border: 2px solid black;
    margin-top: 20px;
}

.btn{
    width: 210px;
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 5px;
}

.btn2{
    width: 310px;
    height: 35px;
    font-size: 15px;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;
}

li{
    align-items: center;
    width: 1200px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(19, 228, 247);
    margin-top: 10px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.ul{
    z-index: -1;
}

.div{
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.p{
    color: red;
    font-size: 50px;
}

.e{
    color: red;
    font-size: 30px;
    font-family: serif;
}

.hidden{
    display: none;
}

.overlay{
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}